@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-5 col-md-offset-4">
    <h1 class="img-responsive text-center" style="font-size:52px; font:bold 900; font-family:'Times New Roman'">RATIONARUM</h1>
    <img src="~/Content/Images/rationarum_logo.png" class="img-responsive center-block" />
    <h2 class="img-responsive text-center" style="font-family:'Times New Roman'">CALLIDUS SCRIBAT</h2>
</div>